<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/bundle.css">
</head>
<body>
    <% include header.ejs %>
    <% include nav.ejs %>

    <div class='content-wrapper'>
	    <div class='content'>
       
      </div>
    </div>

</body>
</html>
