<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/bundle.css">
</head>
<body>
    <% include header.ejs %>
    <% include nav.ejs %>

    <div class='content-wrapper'>
	    <div class='content clients'>
            <img class='main-img' src='img/<%= clients[0].src %>'>
            <div class='thumbnail-row'>
                <div class='arw left-arw'>
                </div>
                <div class='thumbnail-wrapper'>
                    <% clients.forEach(function(client) { %>
                    <img class='thumbnail' src='img/<%= client.src  %>' >
                    <% })  %>
                </div>
                <div class='arw right-arw'>
                </div>
            </div>
            
        </div>
    </div>
    <script src='js/clients.js'></script>

</body>
</html>
