<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/bundle.css">
</head>
<body>
    <% include header.ejs %>
    <% include nav.ejs %>

    <div class='content-wrapper'>
	    <div class='content contact'>
            <form>
                <input 
                    type='text' 
                    name='name' 
                    placeholder='Name' 
                    required>
                <input 
                    type='text' 
                    name='email' 
                    placeholder='E-Mail Address' 
                    required>
                <textarea 
                    name='body' 
                    placeholder='Message...'
                    required></textarea>
                <div class='btn-wrapper'><button>Send</button></div>
            </form>
        </div>
    </div>

</body>
</html>
