<header>
    <div>
        <img src='img/logo.jpg'>
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
    </div>
    <nav>
        <a href='/'>Home</a>
        <a href='/about'>About</a>
        <a href='/system'>System</a>
        <a href='/client'>Clients</a>
        <a href='/contact'>Contact</a>
    </nav>
</header>
