<header>
    <div class=''>
        <img class='logo' src='img/logo.jpg'>
        <div class='contact'>
            <div class='email'=>email@turbosound.com</div>
            <div class='phone'=>(510) 662-7723</div>
            <i class="fa fa-facebook-square" aria-hidden="true"><div class='white'></div></i>
            <i class="fa fa-twitter-square" aria-hidden="true"><div class='white'></div></i>
        </div>
    </div>
</header>
