<div class='nav-wrapper'>
    <nav>
        <div><a href='/'>Home</a></div>
        <div><a href='/system'>System</a></div>
        <div><a href='/clients'>Clients</a></div>
        <div><a href='/contact'>Contact</a></div>
    </nav>
</div>
