<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/bundle.css">
</head>
<body>
    <% include header.ejs %>
    <% include nav.ejs %>

    <div class='content-wrapper'>
        <div class='content system-content'>
            <div class='system a'>
                <img src='/img/index.jpg'>
                <div class='spec-wrapper'>
                    <h2>System A</h2>
                    <ul class='spec wrapper'>
                        <li>the quick brown fox</li>
                        <li>secs about the system</li>
                        <li>make and model</li>
                        <li>the best system in town</li>
                    </ul>
                </div>
            </div>
            <div class='system b'>
                <img src='/img/index.jpg'>
                <div class='spec-wrapper'>
                    <h2>System B</h2>
                    <ul class='spec wrapper'>
                        <li>the quick brown fox</li>
                        <li>secs about the system</li>
                        <li>make and model</li>
                        <li>the best system in town</li>
                    </ul>
                </div>
            </div>
        </div>

       
      </div>
    </div>

</body>
</html>
