body {
  padding: 3rem 7rem;
  background-image: url("/img/background.jpg");
  background-repeat: no-repeat;
  background-color: #1e1e1e; }

.content-wrapper {
  background-color: #454545;
  padding: 0rem .5rem 2em;
  margin-top: -1rem; }
  .content-wrapper .content {
    border-radius: 0.2rem;
    color: white;
    background-color: #222;
    padding: 1.9rem 2rem 1rem;
    background-color: #222;
    margin: 1rem;
    font-size: 1.3rem; }
    .content-wrapper .content img {
      margin-bottom: 1rem;
      width: 100%;
      height: 27rem; }

header {
  margin-bottom: 1rem; }
  header .email, header .phone {
    display: none; }
  header .logo {
    border-radius: 100%;
    width: 6rem;
    margin: .7rem 0 0 1.2rem; }
  header .contact {
    margin: 2.1rem 1.8rem 0 0;
    float: right; }
    header .contact .fa-facebook-square {
      color: #546ca0; }
    header .contact .fa-twitter-square {
      color: #95eeff;
      margin-left: 1rem; }
    header .contact .fa {
      font-size: 4rem; }
    header .contact .white {
      width: 3.1rem;
      height: 3rem;
      margin-top: -3.4rem;
      margin-left: .2rem;
      border-radius: .3rem;
      background-color: white; }

nav {
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  background-color: #454545; }
  nav div {
    padding: .5rem 1rem;
    display: inline-block;
    margin: 0 2.8%;
    font-size: 1.4rem; }
    nav div:first-child {
      margin-left: 10%; }
    nav div:hover {
      background-color: red; }
    nav div a {
      width: 100%;
      display: block;
      text-decoration: none;
      color: white;
      font-size: 1.7rem; }

.system {
  height: 20rem; }
  .system img {
    width: 45% !important;
    height: 16rem !important;
    display: inline-block; }
  .system .spec-wrapper {
    display: inline-block;
    width: 45%; }
    .system .spec-wrapper li:first-child {
      margin-top: 2rem; }
    .system .spec-wrapper li {
      font-size: 1.8rem; }
  .system:nth-child(even) img {
    float: left; }
  .system:nth-child(even) .spec-wrapper {
    float: right; }
  .system:nth-child(odd) img {
    float: right; }
  .system:nth-child(odd) .spec-wrapper {
    float: left; }

.clients .thumbnail-row .arw {
  display: inline-block;
  border: .2rem white solid;
  width: 2.5rem;
  height: 1.4rem;
  border-radius: 100%;
  vertical-align: top;
  margin-top: 2.9rem; }

.clients .thumbnail-row .left-arw {
  float: left; }

.clients .thumbnail-row .right-arw {
  float: right; }

.clients .thumbnail-row .thumbnail-wrapper {
  display: inline-block;
  text-align: center;
  margin-left: 1%;
  width: 89%;
  white-space: nowrap;
  overflow: scroll; }
  .clients .thumbnail-row .thumbnail-wrapper img {
    height: 7rem;
    width: 9rem;
    display: inline-block; }

.contact input {
  width: 30%;
  height: 2rem;
  display: block;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  padding-left: .5rem; }

.contact textarea {
  padding-left: .5rem;
  resize: none;
  width: 99%;
  height: 11rem;
  margin-bottom: 2rem;
  display: block;
  font-size: 1.5rem; }

.contact .btn-wrapper {
  height: 2.6rem; }
  .contact .btn-wrapper button {
    width: 7rem;
    height: 2.6rem;
    background-color: #fff;
    border-radius: .3rem;
    font-size: 1.7rem;
    float: right; }
