.content {
  margin: 0 2rem 0 2rem; }
  .content nav div {
    display: inline-block;
    width: 20%;
    text-align: center; }
    .content nav div a {
      width: 100%;
      display: block; }
  .content img {
    width: 100%; }

header .logo {
  width: 6rem;
  margin: .7rem 0 0 1.2rem; }

header .contact {
  font-size: 1.5rem;
  margin: 1.2rem 1.8rem 0 0;
  float: right; }
  header .contact .fa {
    font-size: 2rem; }
