.content-wrapper {
  background-color: #454545;
  padding: 0rem .5rem 2em;
  margin-top: -1rem; }
  .content-wrapper .content {
    border-radius: 0.2rem;
    color: white;
    background-color: #222;
    padding: .9rem 2rem 3rem;
    background-color: #222;
    margin: 1rem;
    font-size: 1.3rem; }
    .content-wrapper .content img {
      margin-bottom: 1rem;
      width: 100%;
      height: 27rem; }
