header {
  margin-bottom: 1rem; }
  header .email, header .phone {
    display: none; }
  header .logo {
    border-radius: 100%;
    width: 6rem;
    margin: .7rem 0 0 1.2rem; }
  header .contact {
    margin: 1.2rem 1.8rem 0 0;
    float: right; }
    header .contact .fa {
      font-size: 4rem; }
