nav {
  background-color: #454545; }
  nav div {
    padding: .5rem 1rem;
    display: inline-block;
    margin: 0 2.8%;
    font-size: 1.4rem; }
    nav div:first-child {
      margin-left: 10%; }
    nav div:hover {
      background-color: red; }
    nav div a {
      width: 100%;
      display: block;
      text-decoration: none;
      color: white;
      font-size: 1.7rem; }
