.system {
  height: 20rem; }
  .system img {
    width: 45% !important;
    height: 16rem !important;
    display: inline-block; }
  .system .spec-wrapper {
    display: inline-block;
    width: 45%; }
    .system .spec-wrapper li:first-child {
      margin-top: 2rem; }
    .system .spec-wrapper li {
      font-size: 1.8rem; }
  .system:nth-child(even) img {
    float: left; }
  .system:nth-child(even) .spec-wrapper {
    float: right; }
  .system:nth-child(odd) img {
    float: right; }
  .system:nth-child(odd) .spec-wrapper {
    float: left; }
